.container{
    padding: 2px;
    position: relative;
}
.col-3
{

}
.col-7
{
    margin: auto;
    padding: 5px;

}
mat-panel-title{
  
}
mat-expansion-panel{
    padding: 5px;
}
mat-accordion{
    padding: 2px;
}
mat-radio-button{
    padding: 5px;
    display: block;
    
}
.search-field{
    width: auto;
    justify-content: center;
    padding-left: 35%;
}
button{
    margin: 5px;
}
