<div class="nav-bar" style="height: 20vh">
  <app-navigation-bar></app-navigation-bar>
</div>
<div class="search-field">
  <form class="form-inline">
    <input
      class="form-control mr-m-2"
      type="search"
      style="width: 480px;"
      placeholder="Search"
      aria-label="Search"
      name="searchfield"
      [(ngModel)]="searchtext"
    />
    <button
      class="btn btn-outline-success my-2 my-sm-2"
      type="submit"
      (click)="searchText()"
    >
      Search
    </button>
  </form>

</div>

<div class="container">
 
  <div class="row">
    <div class="col-3" style="padding-top: 90px">
      <mat-card  style="width: 250px">
        <h1 >Fields</h1>
        <ul>
          <div class="form-radio">
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value={{hit}} *ngFor="let hit of keys" > {{hit}}</mat-radio-button> 
            </mat-radio-group>
          </div>
        </ul>
      </mat-card>
    </div>
    <div class="col-7" style="padding-top: 20px">
      <mat-accordion *ngFor="let hit of hits">
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header [expandedHeight]="'90px'">
            <mat-panel-title>
              <pre>Title : {{ hit._source.title | json }}</pre>
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <pre>{{ hit | json }}</pre>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
